.nav-btn:hover {
    animation: linear 1.6s rolling;
}

@keyframes rolling {
    from {
        transform: rotate3d(0,0,0, 0deg);
    }

    to {
        width: 100%;
        height: 100%;
        transform: rotate3d(0,10,10, 360deg);
    }
}