body {
    font-size: 1.3em;
}

.start-info h2 {
    text-align: center;
    background-color: #222;
    margin: 10px 0px 5px;
}

.ar {direction: rtl;}
.en {direction: ltr;}
.ar li {margin-right: 23px;}
.en li {margin-left: 23px;}
