:root {
    /* Header */
    --header-color: #553d67;
    --header-color-text: #eee;
    --header-btn-color: #553d67;
    --header-btn-color-text: #eee;
    --header-border: #f64c72;
    
    /* Main */
    --main-color: white;
    --main-color-text: black;
    --main-btn-color: white;
    --main-btn-color-text: black;
    --main-border: black;
    
    /* Pages */
    --pages-color: #99738e;
    --pages-color-text: #eee;
    --pages-border: black;
}

html, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body.light-theme {
    background-color: var(--main-color);
    color: var(--main-color-text);
}
body.dark-theme {
    background-color: var(--main-color);
    color: var(--main-color-text);
}

/* For Dark Mode ?
#242582      -- darker blue
#2f2fa2      -- lighter blue
#f64c72      -- red orange thing
#553d67      -- darker brown
#99738e      -- lighter brown
*/