:root {
    /* Header */
    --header-bg: #242582;
    --header-text: #eee;

    /* Main */
    --main-bg: #2f2fa2;
    --main-text: #eee;
    
    /* Buttons */
    --btn-bg: #99738e;
    --btn-text: #000;
    --btn-border: #2f2fa2;
    --btn-shadow: #000;
    
    
    /* Pages */
    --pages-border: #000;
    --pages-shadow: #000;
    
    --inner-bg: #553d67;
    --inner-text: #eee;

    --outer-bg: #99738e;
    --outer-text: #000;

}

html, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Theme 1 (darkish)
#242582      -- darker blue
#2f2fa2      -- lighter blue
#f64c72      -- red orange thing
#553d67      -- darker brown
#99738e      -- lighter brown
*/

/* Theme 2 (lightish)
#8d8741
#659dbd
#daad86
#bc986a
#fbeec1
*/