header {
    background-color: var(--header-bg);
    color: var(--header-text);
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--btn-border);
    position: sticky;
    top: 0px;
    z-index: 99;
}


/* 
#################################
########### NAME Div ############
#################################
*/
.name {
    padding: 0 20px;
    text-align: center;
}
.name > h1 {
    font-size: 1.40rem;
}

/* 
#################################
######### Header Buttons ########
#################################
*/
.header-btns {
    height: 50%;
    display: flex;
}

/* ================== Buttons =========================== */
.header-btns > span {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    cursor: pointer;
    margin: 0 5px;
    border-radius: 12%;
}
