header {
    padding: 10px;
    background-color: var(--main-color);
    /* height: 15%; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
