/* 
#################################
########### General #############
#################################
*/
html, * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    min-height: 100vh;
}

/* 
#################################
############# Divs ##############
#################################
*/
div.start-info {
    background-color: #333;
    color: #bbb;
    padding: 10px;
    width: 50%;
}
div.ar {float: right;}

/* 
#################################
####### Language Specific #######
#################################
*/
