/* 
##############################################
#################### MAIN ####################
##############################################
*/
main {
    flex: 13;
    position: relative;
}
main > div {height: 100%;}
.d-none {display: none !important;}

/* 
##############################################
################## NAV Page ##################
##############################################
*/
.nav-page {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.nav-btn {
    font-size: 1.1rem;
    width: 80%;
    padding: 10px;
    border: 2px solid var(--main-border);
    background-color: var(--main-btn-color);
    color: var(--main-btn-color-text);
    box-shadow: 1px 1px 5px  var(--main-btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    user-select: none;
}.nav-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px  var(--main-btn-color);
}
