/* 
##############################################
################# Top Part ###################
##############################################
*/
.page {
    padding: 30px;
}
.page h1 {
    font-size: 1.75em;
    text-align: center;
}
.page hr {margin: 10px 0;}



/* 
##############################################
################## Listing ###################
##############################################
*/
.page h3 {font-size: 1.1rem;}
.page li {
    font-size: 1.25rem;
    list-style: none;
}


/* Outer LIs */
.page > ul > li {
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    margin: 30px 0;
    padding: 10px;
}

/* Inner ULs */
.page li > ul {
    background-color: var(--list-bg-color);
    margin: 5px 10px;
}

/* Inner LIs */
.page li > ul li {
    border: 1px solid black;
    padding: 5px;
}

/* ================= Nested ULs =============== */
/* Will code a dynamic coloring later */
.page li > ul > li > ul {background-color: var(--bg-color);}
.page li > ul > li > ul > li > ul{background-color: var(--list-bg-color);}