/* 
##############################################
################# Intro ###################
##############################################
*/
.intro {
    display: none;
}

/* 
##############################################
################# Top Part ###################
##############################################
*/
.page {
    padding: 30px;
    background-color: var(--main-bg);
    height: 100%;
    display: none;
    position: relative;
    width: 100%;
    background-color: var(--main-bg);
}
.page h1 {
    font-size: 1.75em;
    text-align: center;
}
.page hr {margin: 10px 0;}



/* 
##############################################
################## Listing ###################
##############################################
*/
.page h3 {font-size: 1.1rem;}
.page li {
    font-size: 1.25rem;
    list-style: none;
}


/* Outer LIs */
.page .container > ul > li {
    border: 1px solid var(--pages-border);
    box-shadow: 0px 0px 3px var(--pages-shadow);
    background-color: var(--outer-bg);
    color: var(--outer-text);
    margin: 30px 0;
    padding: 10px;
}

/* Inner ULs */
.page li > ul {
    background-color: var(--inner-bg);
    color: var(--inner-text);
    margin: 5px 10px;
}

/* Inner LIs */
.page li > ul li {
    border: 1px solid var(--pages-border);
    padding: 5px;
}

/* ================= Nested ULs =============== */
/* Will code a dynamic coloring later */
.page li > ul > li > ul {background-color: var(--outer-bg); color: var(--outer-text);}
.page li > ul > li > ul > li > ul{background-color: var(--inner-bg); color: var(--inner-text);}


/* 
##############################################
################### Links ####################
##############################################
*/

.pages-link {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    
    box-shadow: 1px 1px 5px var(--btn-shadow);
    border: 2px solid var(--btn-border);
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    text-decoration: none;
}