/* ============== Mobile Devices ============= */
@media (max-width: 480px) {
    body {
        background-color: red !important;
    }
}

/* ============== Tablet Devices ============= */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: blue !important;
    }
}

/* ============== Laptop Devices ============= */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: cyan !important;
    }
}

/* ============== Desktop Devices ============= */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: green !important;
    }
}