/* ============== Mobile Devices ============= */
@media (max-width: 480px) {
    body {
        background-color: red !important;
        /* font-size: 0.8rem; */
    }


    .nav-btn {
        font-size: 0.8;
        width: 80%;
        height: 20vh;
        margin: 20px 0;
    }

    footer a {display: block;}
}

/* ============== Tablet Devices ============= */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: blue !important;
        font-size: 0.8rem;
    }

    .nav-btn {
        width: 80%;
        height: 20%;
    }

    footer a {display: block;}
    
}

/* ============== Laptop Devices ============= */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: cyan !important;
    }
    .nav-btn {
        font-size: 0.8rem;
        width: 25%;
    }
}

/* ============== Desktop Devices ============= */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: green !important;
    }
}
